# Ignore build artifacts
*.o
*.out
*.exe
*.obj
*.dll
*.so
*.dylib

# Ignore binaries
erp
a.out

# VSCode settings
.vscode/

# CMake build folder (if used)
build/

# MacOS
.DS_Store

# Windows
Thumbs.db
